services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    ports:
      - "80:80"
      - "443:443"
      # - "5432:5432"  # Postgres TCP routing
      - "8080:8080"
    networks:
      - proxy
    env_file:
      - .env
    environment:
      # ONLY THE WORKING CLOUDFLARE ENVIRONMENT VARIABLES
      - CLOUDFLARE_EMAIL=${CLOUDFLARE_EMAIL}
      - CLOUDFLARE_DNS_API_TOKEN=${CLOUDFLARE_DNS_API_TOKEN}
      - CLOUDFLARE_ZONE_ID=${CLOUDFLARE_ZONE_ID}
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
        read_only: true
      - ./traefik-data/traefik.yml:/traefik.yml:ro
      - ./traefik-data/acme.json:/etc/traefik/acme.json
      - ./traefik-data/dynamic:/dynamic:ro
      - ./traefik-data/certs:/certs:ro
      - ./traefik-data:/traefik-data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik-secure.entrypoints=websecure"
      - "traefik.http.routers.traefik-secure.rule=Host(`traefik.delo.sh`)"
      - "traefik.http.routers.traefik-secure.service=api@internal"
      - "traefik.http.routers.traefik-secure.tls=true"
      - "traefik.http.routers.traefik-secure.tls.certresolver=letsencrypt"
    command:
      - "--configFile=/traefik.yml"
    restart: unless-stopped

  whoami:
    image: traefik/whoami
    container_name: traefik-test-whoami
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.entrypoints=websecure"
      - "traefik.http.routers.whoami.rule=Host(`whoami.localhost`)"
      - "traefik.http.routers.whoami.tls=true"
      - "traefik.docker.network=proxy"

networks:
  proxy:
    external: true
