http:
  routers:
    qbittorrent-file:
      rule: "Host(`get.delo.sh`)"
      priority: 200
      entryPoints:
        - websecure
      service: qbittorrent-file
      middlewares:
        - qbittorrent-headers
      tls:
        certResolver: letsencrypt

  services:
    qbittorrent-file:
      loadBalancer:
        servers:
          - url: "http://gluetun:8091"

  middlewares:
    qbittorrent-headers:
      headers:
        customRequestHeaders:
          Referer: "https://get.delo.sh"
          Origin: "https://get.delo.sh"
